<% informations.each do |information| %>
  <% if information.id.present? %>
    <div class="information-content" id ="this_information_<%= information.id %>"></div>
      <p>
      <%= information.content %>
      <% if current_user.admin? %>
        <span>
          <%= link_to edit_information_path(information), remote: true do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </span>
        <span>
          <%= link_to information_path(information), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </span>
      </p>
      <% end %>
  <% end %>
<% end %>
