.icon {
  border-radius: 50%;
}

div.bg-color {
  padding: 0.5rem;
  border: solid 0.5rem white;
}

.matter {
  border-top: solid 0.1rem white;
  border-bottom: solid 0.1rem white;
}

.bg-color {
  background-color: #CCFF99;
}

.card-header {
  border-color: #CCFF99;
}
