.custom-file {
  max-width: 20rem;
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

.show {
  border-bottom: 1px solid #CCC;
}

#information {
  border: ridge 2px  #808080;
}

#map {
  position:relative;
  margin: auto;
}
