// Place all the styles related to the OtherPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .carousel-inner {
//   width: 100%;
//   max-height: 700px !important;
// }

.top-image {
  background-image: image-url(image-path('top_page.jpg'));
  background-size: cover;
  background-position: top;
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-bottom: -100px;
}

.app-title {
  text-align: center;
  position: relative;
  font-size: 7rem;
  padding-top: 10rem;
  color: #fff;
  text-shadow:1px 1px 0 #000000,
              -1px -1px 0 #000000,
              -1px 1px 0 #000000,
              1px -1px 0 #000000,
              0px 1px 0 #000000,
              0-1px 0 #000000,
}

.copy {
  text-align: center;
  background: rgba(0, 0, 0, .3);
  color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem 0;
  margin-top: 4rem;
  position: relative;
}

.topbtn {
  position: relative;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;

  .topbtn__item {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }

  .topbtn__item+.topbtn__item {
    margin-left: 1rem;
  }
}
